/* Tailwind's component styles */
@tailwind components;

/* Tailwind's utility classes */
@tailwind utilities;

/* top header */

/* Header styles
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.left {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

.right a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.right a:hover {
    text-decoration: underline;
} */

/* .page-title {
    line-height: 0;
    font-family: "CloudySunday", sans-serif !important;
    font-size: 200%;
 } */
