/* .song-search {
    padding: 20px;
    margin-right: 25px;
    font-family: Arial, sans-serif;
  }

  .song-search h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }

  .search-input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */
