@tailwind components;
@tailwind utilities;

@import "tailwindcss";
@plugin "daisyui/theme" {
  name: "skysong";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(82% 0.111 230.318);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(95% 0.026 236.824);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(82% 0.111 230.318);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* Custom font utilities */
@layer utilities {
  .font-cloudy {
    font-family: "CloudySunday", serif;
  }
  .font-sunflower {
    font-family: "Sunflower", serif;
  }
  .font-lora {
    font-family: "Lora", serif;
  }
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* 
@layer base {
  */
h1 {
  font-size: 3rem;
  font-weight: 600;
  color: black;
  margin-bottom: 1rem;
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  padding: 20px;
  padding-bottom: 0;
}

/* .title-font{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  } */
/* 
  p {
    font-family: "Lora", sans-serif;
  }

  label {
    font-family: "Lora", sans-serif;
  } */

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
} */

.header-button {
  /* font-size: 20px;
  font-weight: 250; */
  color: skyblue;
}
